@using MvcClientForAuthorizationCodeFlow.Models
@model List<Category>

<h1>Secret Page (MVC client with Authorization Code Flow)</h1>

<h2>List of secret categories:</h2>

<ul>
    @foreach (var category in Model)
    {
        <br />
        <br />
        <br />
        <li>@category.Id</li>
        <li>@category.Name</li>
        <li>@category.ParentCategoryId</li>
        <li>@category.ImageUrlText</li>
    }
</ul>